.menu {


border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
border-style: solid;




}
.menu .menu--horizontal {

background-color:#363636;
background-repeat:repeat;




}
.menu .menu--nav,.menu .menu--vertical {




}

#idMenuVertical
{



}

.menu__toggle span {
background-color:#AAAAAA;
}
.menu__list
{




}

.menu__item, .menu__link {
text-decoration:none;
color:#AAAAAA;
font-family:Open Sans,Arial,sans-serif;
font-size:14px;
font-weight:normal;
font-style:none;
text-decoration:none;
}

.menu__list > .menu__item {
background-color:#363636;


border-style:solid;
border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;


}

.menu--horizontal .menu__list > .menu__item:first-child {
    {theme_main_borderwidth_item_first}
}
.menu--horizontal .menu__list > .menu__item:last-child {
    {theme_main_borderwidth_item_last}
}

.menu--vertical .menu__list > .menu__item {
  {theme_main_borderwidth_item_vertical}
}
.menu--vertical .menu__list > .menu__item:first-child {
}
.menu--vertical .menu__list > .menu__item:last-child {
}

.menu__list > .menu__item:hover {
background-color:#3F3F3F;
}
.menu__list > .menu__item:hover > .menu__link{
color:#FFFFFF;
}
.menu__list > .menu__item:active {

}
.menu__list > .menu__item:active > .menu__link {

}
.menu__list > .menu__link:before {

}
.menu__link:after {
    border-top: 4px solid #AAAAAA;
    border-left: 4px solid #AAAAAA;
}
.menu__icon {

}
.menu__badge {

{theme_main_color_badge}
}
.menu__submenu {







border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
border-style: solid;

opacity:100;

text-align:left;
}

.menu__submenu .menu__item {
font-family:Open Sans,Arial,sans-serif;
font-size:13px;
font-weight:normal;
font-style:none;

text-decoration:none;



border-style:solid;

border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
background-color:#3F3F3F;


}

.menu__submenu .menu__item:first-child {
{theme_sub_borderwidth_item_first}
}
.menu__submenu .menu__item:last-child {
{theme_sub_borderwidth_item_last}
}

.menu__submenu .menu__item {
color:#AAAAAA;
}

.menu__submenu .menu__item:hover {
background-color:#C80000;
}
.menu__submenu .menu__item:hover .menu__link {
color:#FFFFFF;
}
.menu__submenu .menu__item:active {

}
.menu__submenu .menu__item:active .menu__link {

}
@media only screen and (max-width: 576px) {
  .menu {
    font-family:Open Sans,Arial,sans-serif;
    font-size:14px;
      border-bottom: 1px solid transparent;
      padding: 0;
    }
    .menu:before {
    background-color:#363636;
    
    }
    .menu:after {
      background-color:    rgba(0, 0, 0, 0.5);
    }
    .menu .menu__container {
    background-color:#363636;
    }
    .menu .menu__item,
    .menu .menu__item:hover {
    border-bottom: 1px solid 
    }
    .menu .menu__item--active,
    .menu .menu__item:hover--active {
    background-color:#3F3F3F;
    }
    .menu .menu__item--active > .menu__link,
    .menu .menu__item:hover--active > .menu__link {
    color:#FFFFFF;
    }
    .menu .menu__link,
    .menu .menu__item:hover .menu__link {
    color:#AAAAAA;
    }
    .menu .menu__submenu .menu__item:hover {
    : transparent;
      border-bottom: 0;
    }
    .menu .menu__submenu .menu__link:before {
    color:#AAAAAA;
    }
    .menu .menu__item--withsubmenu > .menu__link:after {
    border-left: 4px solid 
    }
    .menu__list > .menu__item {
        {theme_main_borderwidth_item_vertical}
    }
    #idMenuHeader
    {
      display:none;
    }
    #idMenuVertical
    {
      box-shadow:none;
      margin:0px;
    }
}