.css_plano_id_label { }
.css_plano_id_line {text-align:left;}
.css_plano_id_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_datavencimento_label { }
.css_datavencimento_line { }
.css_datavencimento_obj { }
.css_datapagamento_label { }
.css_datapagamento_line { }
.css_datapagamento_obj { }
